---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cards from '../components/Cards.astro';
// color pattern: https://colorhunt.co/palette/040d12183d3d5c837493b1a6
---

<Layout title="Blog Filosofico">
	<Header />
	<main class="main">
		<div class="content">
			<article class="about-me">
				<h1>Soy Brandon</h1>
				<p>
					Trabajos personales. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit natus vitae nesciunt soluta,
					 mollitia ad quae asperiores, a omnis accusamus fugit modi ipsa quidem voluptates voluptate doloremque, dicta illo? Dignissimos.
				</p>
				<p>
					Trabajos personales. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit natus vitae nesciunt soluta,
					 mollitia ad quae asperiores, a omnis accusamus fugit modi ipsa quidem voluptates voluptate doloremque, dicta illo? Dignissimos.
				</p>
			</article>
			<section>
				<h2>Ultimos relatos</h2>
			</section>
			<Cards />
			<Cards />
			<Cards />
			<Cards />
			<Cards />
		</div>
	</main>
	<Footer />
</Layout>

<style>
	.main{
		min-height: 75dvh;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.content{
		width: 70%;
		max-width: 800px;
	}
	.about-me{
		margin: 80px 0;
	}
</style>
